{{% macro displaySourceList(sources) %}
    {% for item in sources %}


    <div class="card mb-10 col-md-3" style="margin-bottom: 10px">
        <a class="list-group-item list-group-item-action active" href="/source/{{item.id}}">
            <li style="list-style: none">{{item.name}}</li>

        </a>
        <p>{{ item.description }} </p>
        <a href="{{item.url}}">More story ...</a>

</div>
    {% endfor %}
{% endmacro %}

{% macro displayArticleList(article_list) %}

    {% for article in article_list %}
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 article-card">
            <h3> {{ article.urlToImage }} {{ article.title }} </h3>
            <p>{{ article.description }} </p>
            <li class="text-center">
                <a href="/article/{{article.id}}"></a>
                    {{ article.title }}
            </li>
    </div>
    {% endfor %}

{% endmacro %}
